body {
  background-color: #222222 !important;
  overflow: hidden;
}
#root {
  height: 99vh;
}
/* #data {
  width: 100%;
  flex-grow: 1;
  min-height: 99vh;
} */
#canvas {
  height: 100%;
  background: #222222;
}
#canvas > * {
  user-select: none;
  -webkit-user-select: none;
}
#canvas svg {
  background: #222222;
  border: 1px solid #222222;
}
.node:hover > .bubble {
  stroke-width: 2px !important;
}
/* .bubble {
  animation: pop 300ms;
} */
.node > * {
  cursor: pointer;
}
.bubble {
  cursor: pointer;
  transition: all 200ms;
  stroke-width: 0px;
  stroke: white;
}
@keyframes pop {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.price-chart {
  position: relative;
  height: 240px;
}
.price-chart canvas {
  position: absolute;
  left: 0;
  top: 0;
  touch-action: none;
}
.rotate-center {
  -webkit-animation: rotate-center 700ms ease-in-out infinite both;
  animation: rotate-center 700ms ease-in-out infinite both;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 1s ease-out infinite alternate forwards;
  animation: scale-up-center 1s ease-out infinite alternate forwards;
}
